/* global.css */
.sudoku-container {
  text-align: center;
  margin-top: 20px;
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  gap: 8px;
  justify-content: center;
}

.sudoku-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.button-container {
  margin-top: 20px;
}

.button {
  /* margin-top: 20px; */
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4c91af;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 8px;
}

.button:last-child {
  margin-right: 0;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
